Repository saschanaz/browser-compat-data, changes with the labels that .github/labeler.yml gives for each.
All labels: bulk_update :package:, data:api :rabbit2:, data:browsers :earth_africa:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:, data:mathml :heavy_division_sign:, data:svg :paintbrush:, data:webdriver :racing_car:, data:webext :game_die:, data:xpath :railway_track:, data:xslt :tractor:, dependencies :chains:, docs :writing_hand:, infra :building_construction:, linter :house_with_garden:, scripts :scroll:, schema :gear:

.github/labeler.yml:

bulk_update :package::
  - "scripts/migrations/**"
data:api :rabbit2::
  - "api/**"
data:browsers :earth_africa::
  - "browsers/**"
data:css :art::
  - "css/**"
data:html :page_facing_up::
  - "html/**"
data:http :mountain_cableway::
  - "http/**"
data:js :pager::
  - "javascript/**"
data:mathml :heavy_division_sign::
  - "mathml/**"
data:svg :paintbrush::
  - "svg/**"
data:webdriver :racing_car::
  - "webdriver/**"
data:webext :game_die::
  - "webextensions/**"
data:xpath :railway_track::
  - "xpath/**"
data:xslt :tractor::
  - "xslt/**"
dependencies :chains::
  - "package-lock.json"
  - "package.json"
docs :writing_hand::
  - "**/*.md"
infra :building_construction::
  - ".editorconfig"
  - ".git*"
  - ".gitattributes"
  - ".github/**"
  - ".gitignore"
  - ".npm*"
  - ".prettier*"
  - "/*.js"
  - "/*.ts"
  - "LICENSE"
  - "package*"
linter :house_with_garden::
  - "test/**"
scripts :scroll::
  - "scripts/**"
schema :gear::
  - "schemas/**"

Update contributing.md
  docs/contributing.md
Labels: docs :writing_hand:

Lint data with no support history
  test/lint.js
  test/linter/index.js
  test/linter/test-support-history.js
Labels: linter :house_with_garden:

suggestion to add a tracking bug
  test/linter/test-support-history.js
Labels: linter :house_with_garden:

fix tracking bug check
  test/linter/test-support-history.js
Labels: linter :house_with_garden:

Remove totally unsupported items
  api/BluetoothRemoteGATTService.json
  api/ConstrainULong.json
  api/PushRegistrationManager.json
  api/SVGImageElement.json
  api/SourceBuffer.json
  api/ULongRange.json
  api/Window.json
  api/XRPermissionDescriptor.json
  api/XRPermissionStatus.json
  css/properties/font-variant.json
  css/properties/masonry-auto-flow.json
  css/properties/text-align.json
  css/properties/text-indent.json
  css/properties/text-overflow.json
  css/selectors/target-within.json
  css/types/frequency.json
  css/types/length-percentage.json
  css/types/length.json
  html/elements/menu.json
  html/elements/textarea.json
  http/headers/content-security-policy.json
  http/headers/cookie2.json
  http/headers/feature-policy.json
  http/headers/set-cookie2.json
  javascript/builtins/Array.json
  javascript/builtins/String.json
  javascript/builtins/TypedArray.json
Labels: data:api :rabbit2:, data:css :art:, data:html :page_facing_up:, data:http :mountain_cableway:, data:js :pager:

cover nulls too
  test/linter/test-support-history.js
Labels: linter :house_with_garden:

solve linter errors
  api/PushSubscriptionChangeEvent.json
  api/RTCIceCandidateType.json
  api/RTCIceComponent.json
  api/RTCIdentityAssertion.json
  api/RTCIdentityProviderGlobalScope.json
  api/RTCIdentityProviderRegistrar.json
Labels: data:api :rabbit2:
